TUIA_Primero/2Cuatrimestre/BasesdeDatos1/Unidad 4 Variables locales-Procedimientos Almacenados/Comisión \#1 - Practica Vistas - Funciones Ventana - Procedimientos-20250829/Práctica de Vistas - Funciones de Ventana - Procedimientos Almacenados.pdf
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.1-Configuración inicial del switch.mp4
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.2-Ejercicio 7.1.6 - Redes de Datos.mp4
TUIA_Primero/2Cuatrimestre/BasesdeDatos1/Unidad 4 Variables locales-Procedimientos Almacenados/Comisión \#1 - Practica Vistas - Funciones Ventana - Procedimientos-20250829/Práctica de Vistas - Funciones de Ventana - Procedimientos Almacenados.pdf
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/VLANs-Practica-Redes-de-Datos.mp4
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
TUIA_Primero/2Cuatrimestre/BasesdeDatos1/Unidad 4 Variables locales-Procedimientos Almacenados/Comisión \#1 - Practica Vistas - Funciones Ventana - Procedimientos-20250829/Práctica de Vistas - Funciones de Ventana - Procedimientos Almacenados.pdf
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
*.mp4
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
TUIA_Primero/2Cuatrimestre/BasesdeDatos1/Unidad 4 Variables locales-Procedimientos Almacenados/Comisión \#1 - Practica Vistas - Funciones Ventana - Procedimientos-20250829/Práctica de Vistas - Funciones de Ventana - Procedimientos Almacenados.pdf
TUIA_Segundo/1Cuatrimestre/3C_Bases_de_Datos_II/Trabajo Practico/TDC_DataWarehouse
*.bak
TUIA_Segundo/1Cuatrimestre/TP-Final-RDD/
TUIA_Segundo/1Cuatrimestre/TP-Final-BDDII/
TUIA_Segundo/1Cuatrimestre/3C_Programacion_III/tuia-prog3/
TUIA_Primero/2Cuatrimestre/BasesdeDatos1/Unidad 4 Variables locales-Procedimientos Almacenados/Comisión \#1 - Practica Vistas - Funciones Ventana - Procedimientos-20250829/Práctica de Vistas - Funciones de Ventana - Procedimientos Almacenados.pdf
TUIA_Segundo/1Cuatrimestre/3C_Redes_de_Datos/Practica/U3.4-Ejercicio 7.3.7 - Redes de Datos.mp4
TUIA_Segundo/2Cuatrimestre/4C_MachineLearning/venvAA1
TUIA_Segundo/2Cuatrimestre/4C_PNL/venvPNL
# Entornos virtuales por defecto y variantes con prefijo o sufijo
.venv/
.venv*/
venv/
venv*/
env/
env*/
*_venv/
*_env/
# Caché de Python y herramientas de análisis
_pycache_/
*.pyc
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
_pycache_/
*.pyc
/PNL_Privado
/TUIA_Segundo/2Cuatrimestre/4C_MachineLearning/TP/TP_AA1_Civetta_Fucci_Frank_Winter
Segundo/1Cuatrimestre/3C_Programacion_III/tuia-prog3/
Segundo/1Cuatrimestre/TP-Final-BDDII/
Segundo/2Cuatrimestre/4C_DataMining/TPs/TP_MD_Frank_Winter/
Segundo/2Cuatrimestre/4C_MachineLearning/TP/TP_AA1_Civetta_Fucci_Frank_Winter/
Segundo/1Cuatrimestre/TP-Final-RDD/
Segundo/2Cuatrimestre/4C_PNL/TP1/PLN_Grupo7_Civetta_Fucci_Frank_Winter/
Segundo/2Cuatrimestre/4C_Imagenes1/TP/Procesamiento_Imagenes_Grupo8/
